@font-face {
  font-family: Cascadia Code;
  src: local('Cascadia Code'), local('Cascadia-Code'),
    url(@/assets/CascadiaCode.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.btn {
  @apply hover:ring;
  cursor: pointer;
}

.link {
  @apply text-blue-500;
  cursor: pointer;
}

.leave {
  transition: 1s;
  transform: translateX(-100%);
  overflow: hidden;
}
